<% provide(:title, "Add Question | Disney Trivia") %>

<%= render 'header' %>

<h3>Add Question</h3>

<%= render 'form' %>

<%= link_to "<button class=\"btn-primary btn-small\">Back</button>".html_safe, questions_path %>

<%= render 'footer' %>
